<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recarga Celulares</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
        <h1>Recarga Celular</h1>
        <button class="btn btn-primary" @click="nuevo">Nuevo</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Telefono</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in recargacelular">
                    <td>{{item.telefono}}</td>
                    <td>s/{{item.monto}}</td>
                    <td>
                        <button class="btn btn-primary">Detalles</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="mdlrecargacelular" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Recarga Celular</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-3">
                                Telefono
                            </div>
                            <div class="col-9">
                                <input class="form-control" v-model="recargacelulars.telefono" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Monto
                            </div>
                            <div class="col-9">
                                <input class="form-control" v-model="recargacelulars.monto" />
                            </div>
                        </div>
           
                        <div class="row">
                            <div class="col-3">
                                Medio de Pagos
                            </div>
                            <div class="col-9">
                                <select class="form-control" v.model="recargacelulars.idmediopago">
                                    <option v-for="item in mediopago" :value="item.idmediopago">{{item.nombremediopago}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Seleccionar Usuario
                            </div>
                            <div class="col-9">
                                <select class="form-control" v.model="recargacelulars.idusuario">
                                    <option v-for="item in usuario" :value="item.idusuario">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Seleccionar Operador
                            </div>
                            <div class="col-9">
                                <select class="form-control" v.model="recargacelulars.idoperador">
                                    <option v-for="item in operador" :value="item.idoperador">{{item.nombreoperador}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="registrar">Confirmar Recarga</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.esm.min.js" integrity="undefined" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.6.1/vue-resource.min.js" integrity="sha512-NuUIe6TWdEivPTcxnihx2e6r2xQFEFPrJfpdZWoBwZF6G51Rphcf5r/1ZU/ytj4lyHwLd/YGMix4a5LqAN15XA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
 
        new Vue({
            el: "#app",
            data: {
                frmmediopago: 4,
                mediopago: [],
                operador: [],
                usuario:[],
                recargacelular: [],
                recargacelulars: { telefono: "",monto:0,idmediopago:1,idoperador:1,idusuario:1 }
            },
            methods: {
                fetchrecargacelular: function () {
                    var url = "http://localhost:64607/api/tunki/listarecargacelular";
                    this.$http.get(url).then(function (response) {
                        this.recargacelular = response.data;
                    });
                },
                fetchmediopago: function () {
                    var url = "http://localhost:64607/api/tunki/listarmediopago";
                    this.$http.get(url).then(function (response) {
                        this.mediopago = response.data;
                    });
                },
                fetchusuario: function () {
                    var url = "http://localhost:64607/api/tunki/listarusuario";
                    this.$http.get(url).then(function (response) {
                        this.usuario = response.data;
                    });
                },
                fetchoperador: function () {
                    var url = "http://localhost:64607/api/tunki/listaroperador";
                    this.$http.get(url).then(function (response) {
                        this.operador = response.data;
                    });
                },
                nuevo: function () {
                    $("#mdlrecargacelular").modal("show");

                },
                registrar: function () {
                    var recargacelulardto = this.recargacelulars;
                    var url = "http://localhost:64607/api/tunki/registrarecargacelular";
                    this.$http.post(url, recargacelulardto).then(function (response) {
                        this.fetchrecargacelular();
                        $("#mdlrecargacelular").modal("hide");
                    });
                }
            },
            mounted: function () {
                this.fetchmediopago();
                this.fetchoperador();
                this.fetchusuario();
                this.fetchrecargacelular();
            }
        });
    </script>
</body>
</html>